body {
    user-select: none;
}

rect {
    stroke:black;
    stroke-width: 2;
    cursor: pointer;
}

text {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-anchor: middle;
    fill:white;
    cursor: pointer;
    pointer-events: none;
}

text.white {
    fill:black;
}

section {
    display: flex;
    flex-direction: column;
    width: 632px;
    gap: 20px;
}

.white, .black {
    transition-duration: 0.5s;
}

.white {
    fill:white;
}

.black {
    fill:black;
}

.activa {
    transition-duration: 0.1s;
    fill:#a0a0a0;
}

#textarea, .btnFile {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#textarea {
    resize: none;
    height: 100px;
}

.labelFile {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnFile {
    height: 40px;
    padding: 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnFile:hover {
    background-color: #0056b3;
}

.btnFile:active {
    background-color: #004085;
}